
.small-h{
    font-size: small;
    font-weight: 400;
}
.margin{
    margin-left: 25px;
    margin: 40px;
} 
.btn-grp{
    background-color: rgb(109, 18, 228);
    color: white;
    padding: 10px;
    
    border-radius: 15px;
    
}
.about-part{
    display: flex;
}
/* 
@media screen and (min-width: 600px) {
	.about-img {
        width: 100%;
	}

	
	
	} */